h1 {
    font-family: sans-serif;
    font-size: x-large;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: fit-content;
    gap: 15px;
    margin-top: 30px;
  }

  form input, form textarea {
    border: 1px solid plum;
    border-radius: 3px;
    font-size: 20px;
  }
  form input[type=radio] {
    height: 35px;
    width: 35px;
    border: 3px;
  }
  
  form label {
    font-size: 20px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.input_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }
  
  .ingredient_inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
  }
  
  ul {
    width: 50%;
  }

  .radio_container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px;
  }
  
  .radio_container span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: sans-serif;
  }

  ul{
    font-family: sans-serif;
    padding-left: 10px;
  }