.recipe_card {
    width: 300px;
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .recipe_card:hover {
    background-color: antiquewhite;
  }
  
  .recipe_img_container {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px;
  }
  